@media (max-width: 768px) {
    .heroThumbs {
        display: none !important;
    }

    .hero-img-pc {
        display: none;
    }

    .hero-img-mobile {
        display: flex !important;
    }

    .hero-section {
        height: 100% !important;
    }
}

@media (min-width: 768px) and (max-width: 1100px) {
    .hero-section {
        max-height: 600px !important;
    }
}

@media (max-width: 1500px) {
    .hero-section {
        max-height: 700px;
    }
}

/* ================= HERO ================= */

.hero-section {
    position: relative;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
}

/* Main Slides */

.heroMain .swiper-slide {
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
}

/* Dark Gradient Overlay */
.heroMain .swiper-slide::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    background: linear-gradient(to right,
            rgba(37, 37, 37, 0.75) 30%,
            rgba(0, 0, 0, 0.3) 70%);
}

.heroThumbs-swipper .swiper-slide:last-child {
    margin-right: 0 !important;
}

.hero-content {
    position: absolute;
    z-index: 2;
    color: white;
    flex-direction: column;
    justify-content: center;
    display: flex;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-65%);
    margin: auto;
    align-items: flex-start;
}

.hero-img-mobile {
    display: none;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero-badge {
    background: var(--button-color);
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 12px;
    margin-bottom: 15px;
    display: inline-block;
}

.heroMain {
    height: 100%;
}

.heroMain .swiper-slide {
    background-position: center center;
    background-size: cover;
}

.hero-content .hero-badge {
    color: var(--bg-primary);
}

.hero-content h1 {
    color: var(--bg-primary);
    font-size: clamp(30px, 5vw, 60px);
    line-height: clamp(44px, 6vw, 72px);
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-content p {
    margin-bottom: 25px;
    color: #ddd;
}

.hero-btn {
    background: var(--button-color);
    color: #fff;
    padding: 12px 28px;
    border-radius: 8px;
}

/* THUMBNAIL STRIP */

.heroThumbs-swipper {
    overflow: visible !important;
    clip-path: inset(-100px 0);
    width: 90%;
    height: 100%;
    padding: 0 12px;
}

.heroThumbs {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    padding: 20px 0;
    height: 140px;
    margin: auto;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.75) 30%,
            rgba(0, 0, 0, 0.3) 70%);
    z-index: 1;
}


.heroThumbs-swipper .swiper-wrapper {
    justify-content: center;
}

.heroThumbs .swiper-slide {
    width: calc(100% / 5);
    height: 100%;
    transition: 0.4s ease;
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
}

.heroThumbs .overlay {
    transform: translateY(100%);
    opacity: 0;
    transition: 0.4s ease;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
    /* 👈 black transparent */

    display: flex;
    justify-content: center;
    align-items: center;
}

.heroThumbs .overlay span {
    color: var(--bg-primary);
}

.heroThumbs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Active Thumbnail Bigger */
/* .heroThumbs .swiper-slide-thumb-active .overlay {
    transform: translateY(0%);
    opacity: 1;
} */

.heroThumbs .swiper-slide-thumb-active {
    border-bottom: 3px solid var(--button-color);
    transform: translateY(-10px);
}

.slider-icons {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 10;
}

.slider-icons div {
    cursor: pointer;
    transition: 0.3s ease;
}

.slider-icons div:hover {
    transform: scale(1.2);
}





/* =========================
   Business Section
========================= */

.business-section {
    background-color: var(--bg-sections);
    padding: var(--pm64) 0;
}

.section-title {
    color: var(--bg1-color);
    font-weight: 700;
    margin-bottom: 3rem;
}

/* Tab Styling */
.nav-pills .nav-link {
    color: var(--sub-text);
    font-weight: 600;
    font-size: 14px;
    border-radius: 0;
    border-bottom: 3px solid transparent;
    padding-bottom: 10px;
    background: none !important;
}

.nav-pills .nav-link.active {
    color: var(--bg1-color) !important;
    border-bottom-color: var(--button-color);
}

.nav-pills img {
    display: block;
    margin: 0 auto 10px;
    width: auto;
    height: 48px;
    /* filter: grayscale(100%); */
    opacity: 0.6;
    transition: 0.3s ease;
}

.nav-pills .nav-link.active img {
    filter: none;
    opacity: 1;
}

/* Image Card Styling */

.business-card {
    position: relative;
    display: block;
    border-radius: var(--radius8);
    overflow: hidden;
    margin-bottom: 24px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.business-card:hover {
    transform: translateY(-8px);
}

/* Image Zoom Effect */
.business-card img {
    width: 100%;
    /* height: 150px; */
    object-fit: cover;
    transition: transform 0.5s ease;
}

.business-card:hover img {
    transform: scale(1.1);
}

/* Overlay */
.card-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    color: white;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.4s ease;
}

/* Slide Up + Fade In */
/* .business-card:hover .card-overlay {
    opacity: 1;
    transform: translateY(0);
    background: rgba(26, 65, 116, 0.7);
} */

/* Overlay Text */
.card-overlay span {
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s ease;
}

.card-overlay span i {
    margin-left: 6px;
}

/* Button */
.btn-view-all {
    background-color: var(--button-color);
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-view-all:hover {
    opacity: 0.9;
}





/* =========================
   Services Section
========================= */
.services-section {
    padding: 50px 0;
    color: var(--bg-primary);
}

.sub-heading {
    color: var(--bg-primary);
    background-color: var(--bg-danger);
    padding: 6px 16px;
    border-radius: var(--radius999);
    font-weight: 500;
    font-size: clamp(14px, 1.2vw, 16px);
    font-family: var(--font-primary);
    width: fit-content;
    text-transform: uppercase;
}

.services-section h2 {
    color: var(--text-primary);
    font-weight: 700;
    max-width: 700px;
    line-height: 1.3;
}

.services-section .row.flex-column {
    color: var(--bg2-color);
}

.services-section .row.flex-column .badge {
    color: var(--bg-danger);
    font-size: 18px;
}

/* ---------- Services Box ---------- */
.Services-box {
    display: flex;
    height: 300px;
}

/* Items */
.Services-box-item {
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;

}

.Services-box-item:hover:after {
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.65),
            /* bottom dark */
            rgba(0, 0, 0, 0.25),
            /* middle */
            rgba(0, 0, 0, 0)
            /* top transparent */
        );
    opacity: 1;
    transform: translateY(0);
}

.Services-box-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateY(20%);
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

/* Image Area */
.Services-box-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.08);
}

/* Content Area */
.Services-box-item .services-content {
    padding: 20px;
    border-radius: var(--radius16);
    height: 100%;
    font-size: 16px;
    line-height: 1.6;
}

.services-content {
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    left: 0;
    z-index: 1111;
}

.services-content h3 {
    font-weight: 500;
}

.Services-box-right-arrow {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
    transform: translateX(50%);
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

.Services-box-item:hover .Services-box-right-arrow {
    opacity: 1;
    transform: translateX(0%);
}

.Services-box-right-arrow i {
    font-size: 24px;
}

/* ---------- Hover Effect ---------- */
.Services-box-item img,
.Services-box-item>div {
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.services-content p {
    font-size: 15px;
    line-height: 1.6;
    opacity: 0.9;
    margin: 0;
}


/* ================= 1200px ================= */
@media (max-width:1200px) {

    .Services-box-item.col-5 {
        width: calc(40% - .775rem);
    }

    .Services-box-item.col-7 {
        width: calc(60% - .775rem);
    }
}


/* ================= 992px ================= */
@media (max-width:992px) {

    .Services-box {
        flex-direction: column;
    }

    .heroThumbs .swiper-slide {
        width: calc(100% / 4 - 15px);
    }

    .Services-box-item .sub-heading {
        margin: 0;
        margin-bottom: 10px;
    }

    .Services-box {
        flex-wrap: wrap;
    }

    .Services-box-item {
        width: calc(100% / 2 - .775rem) !important;
        height: 100%;
    }
}


/* ================= 768px ================= */
@media (max-width: 768px) {

    .heroThumbs .swiper-slide {
        width: calc(100% / 3 - 13.3333333333px) !important;
    }

    .heroThumbs {
        width: 85%;
    }
}


/* ================= 576px ================= */
@media (max-width:576px) {

    .heroThumbs .swiper-slide {
        width: calc(100% / 2 - 10px) !important;
    }

    .Services-box {
        flex-direction: column;
        height: 100%;
    }

    .Services-box-item {
        width: 100% !important;
    }

    .hero-content {
        padding: 20px;
    }
