/* ===================== Page Variables ===================== */
:root {
    --bg1-color: #1A4174;
    --bg2-color: #000000;
    --bg3-color: #ffffff;
    --button-color: #e9292f;
    --text-color: #111928;
    --sub-text: #4b5563;
    --text-primary: #1A4174;
    --bg-primary: #ffffff;
    --bg-sections: #EAEEF4;
    --para-text: #4B5563;
    --bg-danger: #C81E1E;
    --bg-red-dark: #E9292F;
    --radius8: 8px;
    --radius12: 12px;
    --radius999: 999px;
    --pm16: 16px;
    --pm64: 64px;
}


/* ===================== Hero ===================== */
.btn:hover {
    color: var(--bg3-color) !important;
}

.hero {
    position: relative;
    height: 100vh;
    /* min-height: 650px; */
    /* max-height: 700px; */
    overflow: hidden;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.3) 30%,
            rgba(0, 0, 0, 0.1) 55%,
            rgba(0, 0, 0, 0) 80%);
}

.hero .overlay-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.overlay-image {
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: translateX(120px);
    transition: all 1s ease;
}

.overlay-image.active {
    opacity: 1;
    transform: translateX(0) !important;
}

.overlay-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-image-mobile {
    display: flex;
}

.hero .swiper,
.hero .swiper-wrapper {
    height: 100%;
}

.hero .swiper-slide {
    display: flex;
    align-items: center;
}

.hero-wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 60px 0;
}

.hero-content {
    max-width: 600px;
    opacity: 0;
    transform: translateY(80px);
    transition: all 0.8s ease;
}

.swiper-slide.active .hero-content {
    opacity: 1;
    transform: translateY(0);
}

.hero-content h1 {
    margin-bottom: 10px;
    color: #fff;
    font-size: clamp(30px, 5vw, 45px);
    font-weight: 700;
    line-height: clamp(44px, 6vw, 50px);
}

.hero-content p {
    max-width: 520px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.hero-content .btn {
    margin-top: 15px;
}

.Indicators {
    position: absolute;
    bottom: 40px;
    left: 50%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 15px;
    user-select: none;
    transform: translateX(-50%);
}

.numPagination {
    color: #fff;
    font-size: 14px;
}

.numPagination span {
    color: #fff;
}

.custom-indicators {
    display: flex;
    gap: 2px;
    width: 300px;
}

.indicator {
    position: relative;
    flex: 1;
    height: 2px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.3);
}

.indicator.active {
    background: #fff;
}

.hero-nav {
    display: flex;
    gap: 20px;
}

.hero-pause {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.hero-pause span {
    margin: 0;
    color: #fff;
    font-size: 18px;
}

.hero-pause:hover {
    border-color: #ff3b3b;
    background: #ff3b3b;
    transform: scale(1.1);
}

.hero-prev,
.hero-next {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.hero-prev span,
.hero-next span {
    margin: 0;
    color: #fff;
    transition: transform 0.3s;
}

.hero-prev:hover,
.hero-next:hover {
    transform: scale(1.1);
}

.hero-prev:hover span {
    transform: translateX(-3px);
}

.hero-next:hover span {
    transform: translateX(3px);
}

/* ================== Video Section Css 
=============================== */


.job-opening {
    background: var(--bg-blue, #f4f7fd);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 50px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 100px;
    height: 100%;
}

.section-title {
    color: var(--secondary-red, #e9292f);
    text-align: center;
    font-size: var(--poppins-h6-bold-font-size, 24px);
    line-height: var(--poppins-h6-bold-line-height, 30px);
    font-weight: var(--poppins-h6-bold-font-weight, 600);
    position: relative;
}

.section-decoration {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    width: 31px;
    height: auto;
    position: relative;
    overflow: visible;
}

.section-title {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    position: relative;
}


.title-text {
    color: #e9292f;
    text-align: center;
    font-size: var(--poppins-h6-bold-font-size, 24px);
    line-height: var(--poppins-h6-bold-line-height, 30px);
    font-weight: var(--poppins-h6-bold-font-weight, 600);
    position: relative;
}

.subtitle-text {
    color: var(--primary-blue, #1a4174);
    text-align: center;
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
}

.frame-1272638318 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: relative;
}

.frame-1272638325 {
    background: #cdcaca;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

._100-pure-resin-loban-dhoop-candy {
    color: #000000;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    width: 75%;
    margin-left: auto;

}

.kapoor-dhoop-candy {
    object-fit: cover;
    aspect-ratio: 355/765;
}

.image3 {
    width: 75%;
    height: 100%;
    position: relative;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    overflow: hidden;
}

.frame-1272638326,
.frame-1272638327,
.frame-1272638323,
.frame-1272638324,
.frame-1272638319,
.frame-1272638325 {
    display: flex;
    flex-direction: column-reverse;
}

.frame-1272638326 {
    background: #101010;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.the-art-of-dual-aroma-two-fragrances-in-one-stick,
.frame-1272638328,
.dual-enzyme-formula,
.odour-neutralising-techonology,
.handmade-soaps-with-essential-oils {
    color: #ffffff;
    text-align: center;
    width: 75%;
    margin-left: auto;
    font-size: 38px;

    font-weight: 700;
}

.doc-name {
    font-size: 38px;
    color: var(--bg-primary);
    z-index: 3;
    position: absolute;
    top: 85%;
    left: 20px;
    font-weight: 700;
    margin-left: 70px;
}

.kesar-chandan,
.kapoor-zipeer,
.vertical-shinezap-355-x-765-px-1,
.freshzap,
.soap,
.kapoor-dhoop-candy {
    object-fit: contain;
    position: absolute;
    width: 25%;
    height: 100%;
}

.image-hlp {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    position: relative;
}

.image3 .video-product-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120% !important;
    height: 120% !important;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.the-art-of-dual-aroma-two-fragrances-in-one-stick {
    font-size: 38px;
}

.image3 .product-image {
    width: 100%;
    height: 100%;
    position: absolute;
    scale: 1 !important;
    object-fit: cover;
}

.frame-1272638327 {
    width: 100%;
    height: 100vh;
    background: #399a64;
    position: relative;
    overflow: hidden;
}

.frame-1272638328 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

._5-mm-thick {
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    position: relative;
}

.ellipse-804 {
    background: #ffffff;
    border-radius: 50%;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    aspect-ratio: 1;
}

._2-x-fragrance {
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    position: relative;
}

.ellipse-805 {
    background: #ffffff;
    border-radius: 50%;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    aspect-ratio: 1;
}

.pure-loban {
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    position: relative;
}

.kapoor-zipeer,
.vertical-shinezap-355-x-765-px-1,
.freshzap,
.soap {
    object-fit: contain;
}

.frame-1272638323 {
    background: #cdcaca;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.dual-enzyme-formula {
    color: #000000;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
}

.product-image {
    overflow: hidden;
    object-fit: cover;
}

.frame-1272638324 {
    background: #01bcb3;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.placeholder-container {
    overflow: hidden;
}

.odour-neutralising-techonology {
    color: #ffffff;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
}

.frame-1272638319 {
    background: #62a0c7;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.handmade-soaps-with-essential-oils {
    color: #ffffff;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
}

.frame-1272638320 {
    overflow: hidden;
}

@media (max-width: 576px) {

    .hero {
        height: 100% !important;
    }

    .hero .overlay-bg {
        position: relative;
    }

    .hero-wrapper {
        left: 50%;
        top: -5%;
        transform: translate(-50%, 10%);
    }

    .hero-wrapper {
        position: absolute;
    }

    .overlay-image {
        position: relative;
    }
}