/* ===================== Design System ===================== */
:root {
    /* Brand Colors */
    --bg1-color: #1A4174;
    --bg2-color: #000000;
    --bg3-color: #ffffff;
    --button-color: #e9292f;
    --text-color: #111928;
    --sub-text: #4b5563;
    --gold-color: #dda83d;
    --text-primary: #1A4174;


    --bg-primary: #FFFFFF;
    --bg-sections: #EAEEF4;


    --para-text: #4B5563;
    --bg-danger: #C81E1E;
    --bg-dark: #010169;
    --strong-black: #141415;
    --bg-light-blue: #0D4ABC;
    --bg-red-dark: #E9292F;



    /* Radius */
    --radius4: 4px;
    --radius8: 8px;
    --radius12: 12px;
    --radius16: 16px;
    --radius24: 24px;
    --radius999: 999px;

    /* Spacing */
    --pm4: 4px;
    --pm8: 8px;
    --pm12: 12px;
    --pm16: 16px;
    --pm24: 24px;
    --pm32: 32px;
    --pm48: 48px;
    --pm64: 64px;
}


/* ==============================
   HERO SECTION (FINAL CLEAN)
   ============================== */

.hero {
    position: relative;
    height: 100vh;
    min-height: 650px;
    overflow: hidden;
    color: #fff;
}

/* Gradient Overlay */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.3) 30%,
            rgba(0, 0, 0, 0.1) 55%,
            rgba(0, 0, 0, 0) 80%);
    z-index: 1;
    pointer-events: none;
}

/* ==============================
   BACKGROUND IMAGES
   ============================== */

.hero .overlay-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
}

/* Default hidden */
.overlay-image {
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: translateX(120px);
    transition: all 1s ease;
}

/* Active image */
.overlay-image.active {
    opacity: 1;
    transform: translateX(0) !important;
}

.overlay-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ==============================
   SWIPER FIX
   ============================== */

.hero .swiper {
    height: 100%;
}

.hero .swiper-wrapper {
    height: 100%;
}

.hero .swiper-slide {
    display: flex;
    /* ❌ remove none */
    align-items: center;
}

/* ==============================
   CONTENT
   ============================== */

.hero-wrapper {
    position: relative;
    z-index: 10;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 60px 0px;
}

.hero-content {
    max-width: 600px;
    opacity: 0;
    transform: translateY(80px);
    transition: all 0.8s ease;
}

/* Active content */
.swiper-slide-active .hero-content {
    opacity: 1;
    transform: translateY(0);
}

/* Heading */
.hero-content h1 {
    font-size: clamp(30px, 5vw, 56px);
    line-height: clamp(44px, 6vw, 72px);
    font-weight: 700;
    margin-bottom: 16px;
    color: white;
}

/* Paragraph */
.hero-content p {
    font-size: 14px;
    max-width: 520px;
    color: white;
}

/* Button */
.hero-content .btn {
    margin-top: 20px;
}

/* ==============================
   INDICATORS
   ============================== */

.Indicators {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 20;
    user-select: none;
}

/* Numbers */
.numPagination {
    font-size: 14px;
}

.numPagination span {
    color: white;
}

/* Progress bar container */
.custom-indicators {
    display: flex;
    gap: 10px;
    width: 300px;
}

/* Bars */
.indicator {
    flex: 1;
    height: 3px;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    overflow: hidden;
}

/* Active bar */
.indicator.active {
    background: #fff;
}

/* ==============================
   NAVIGATION ARROWS
   ============================== */

.hero-nav {
    display: flex;
    gap: 20px;
}

.hero-pause span {
    color: white;
    margin: 0;
}

.hero-pause {
    width: 45px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    font-size: 18px;
}

.hero-pause:hover {
    background: #ff3b3b;
    border-color: #ff3b3b;
    transform: scale(1.1);
}

.hero-prev span,
.hero-next span {
    color: #fff;
    margin: 0;
}

.hero-prev,
.hero-next {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

/* Hover */
.hero-prev:hover,
.hero-next:hover {
    transform: scale(1.1);
}

/* Arrow animation */
.hero-prev span,
.hero-next span {
    transition: transform 0.3s;
}

.hero-prev:hover span {
    transform: translateX(-3px);
}

.hero-next:hover span {
    transform: translateX(3px);
}









.logo-swiper-section {
    background: #fff;
    padding: 40px 0;
    overflow: hidden;
}

.logo-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: fit-content;
}

.logo-slide img {
    max-height: 48px;
    width: auto;
    opacity: 0.85;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.logo-slide img:hover {
    opacity: 1;
    transform: scale(1.05);
}



/* =========================
   Business Section
========================= */

.business-section {
    background-color: var(--bg-sections);
    padding: var(--pm64) 0;
}

.section-title {
    color: var(--bg1-color);
    font-weight: 700;
    margin-bottom: 3rem;
}

/* Tab Styling */
.nav-pills .nav-link {
    color: var(--sub-text);
    font-weight: 600;
    border-radius: 0;
    background: none !important;
}

.nav-pills .nav-item.active .nav-link span {
    color: var(--bg1-color) !important;
}

.nav-pills .nav-link span {
    font-size: 14px;
}


#businessTabs .nav-item.active {
    color: var(--bg1-color) !important;
    border-bottom-color: var(--button-color);
}

.nav-pills img {
    display: block;
    margin: 0 auto 10px;
    width: 62px;
    height: 62px;
    transition: 0.3s ease;
}

.icon-box {
    position: relative;
    width: 62px;
    height: 62px;
    margin: 0 auto 10px;
}

.icon-box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
}

/* Default icon visible */
.default-icon {
    opacity: 1;
}

#businessTabs .nav-item {
    border-bottom: 3px solid transparent;
    padding-bottom: 10px;
}

/* Active icon hidden by default */
.active-icon {
    opacity: 0;
}

/* Jab active ho tab switch */
.nav-item.active .default-icon {
    opacity: 0;
}

.nav-item.active .active-icon {
    opacity: 1;
}

.nav-pills .nav-item.active img {
    filter: none;
    opacity: 1;
}

/* Image Card Styling */

.business-card {
    position: relative;
    display: block;
    border-radius: var(--radius-lg);
    overflow: hidden;
    margin-bottom: 24px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.business-card:hover {
    transform: translateY(-8px);
}

/* Image Zoom Effect */
.business-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.business-card:hover img {
    transform: scale(1.1);
}

/* Overlay */
.card-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    color: white;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.4s ease;
}

/* Slide Up + Fade In */
/* .business-card:hover .card-overlay {
    opacity: 1;
    transform: translateY(0);
    background: rgba(26, 65, 116, 0.7);
} */

/* Overlay Text */
.card-overlay span {
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s ease;
}

.card-overlay span i {
    margin-left: 6px;
}

/* Button */
.btn-view-all {
    background-color: var(--button-color);
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-view-all:hover {
    background-color: var(--button-color);
}



/* =========================
   Services Section
========================= */
.services-section {
    padding: 50px 0;
    color: var(--bg-primary);
}

.sub-heading {
    color: var(--bg-primary);
    background-color: var(--bg-danger);
    padding: 6px 16px;
    border-radius: var(--radius999);
    font-weight: 500;
    font-size: clamp(14px, 1.2vw, 16px);
    font-family: var(--font-primary);
    width: fit-content;
    text-transform: uppercase;
}

.services-section h2 {
    font-size: 38px;
    color: var(--text-primary);
    font-weight: 700;
    max-width: 700px;
    line-height: 1.3;
}

.services-section .row.flex-column {
    color: var(--bg2-color);
}

.services-section .row.flex-column .badge {
    color: var(--bg-danger);
    font-size: 18px;
}

/* ---------- Services Box ---------- */
.Services-box {
    display: flex;
    height: 300px;
}

/* Items */
.Services-box-item {
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;

}

.Services-box-item .sub-heading {
    font-size: 12px;
}

.Services-box-item:hover:after {
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.65),
            /* bottom dark */
            rgba(0, 0, 0, 0.25),
            /* middle */
            rgba(0, 0, 0, 0)
            /* top transparent */
        );
    opacity: 1;
    transform: translateY(0);
}

.Services-box-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateY(20%);
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

/* Image Area */
.Services-box-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.08);
}

/* Content Area */
.Services-box-item .services-content {
    padding: 20px;
    border-radius: var(--radius16);
    height: 100%;
    font-size: 16px;
    line-height: 1.6;
}

.services-content {
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    left: 0;
    z-index: 1111;
}

.services-content h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--bg-primary);
}

.Services-box-right-arrow {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
    transform: translateX(50%);
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

.Services-box-item:hover .Services-box-right-arrow {
    opacity: 1;
    transform: translateX(0%);
}

.Services-box-right-arrow i {
    font-size: 24px;
}

/* ---------- Hover Effect ---------- */
.Services-box-item img,
.Services-box-item>div {
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.services-content p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.9;
    margin: 0;
    color: var(--bg-primary);
}




/* =========================
   Timeline Section
========================= */
.timeline-section {
    background: rgb(234, 238, 244, 50%);
    overflow: hidden;
    height: 130vh;
    position: relative;
    z-index: 11;
}

.timeline-section .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Heading */
.timeline-title {
    font-size: 36px;
    font-weight: 700;
    color: var(--text-primary);
}

/* Banner */
.timeline-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

/* Paragraph */
.timeline-text {
    font-size: 14px;
    line-height: 1.8;
    color: var(--para-text);
}

/* Button */
.timeline-btn {
    background: var(--button-color);
    color: var(--bg3-color);
    padding: 14px 32px;
    border-radius: var(--radius999);
    font-weight: 600;
    transition: 0.3s ease;
}

.timeline-btn:hover {
    background: var(--bg-red-dark);
    color: var(--bg3-color);
}




.trending {
    padding: 60px 5%;
    text-align: center;
}

.tag {
    color: red;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 14px;
}

.trending h2 {
    ;
    margin: 10px 0 40px;
    color: #1e3a5f;
}

.trending-container {
    display: flex;
    gap: 30px;
}

/* BIG CARD */
.big-card {
    position: relative;
    flex: 2;
    height: 404px;
    border-radius: 15px;
    overflow: hidden;
}

.big-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.featured.big {
    position: absolute;
    top: 30px;
    left: -35px;
    background: red;
    color: #fff;
    padding: 5px 50px;
    transform: rotate(-45deg);
    font-size: 14px;
}

.featured.small {
    left: -35px;
    font-size: 10px;
    position: absolute;
    top: 15px;
    background: red;
    color: #fff;
    padding: 0px 40px;
    transform: rotate(-45deg);
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
}

.play-btn.small {
    width: 40px;
    height: 40px;
    font-size: 16px;
}

.content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    text-align: left;
}

.category {
    background: red;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.content p {
    color: white;
}

.content h3 {
    margin: 10px 0;
    font-size: 24px;
    color: white;
}

/* RIGHT SIDE */
.side-cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    overflow: hidden;
    align-items: center;
}

.img-box {
    position: relative;
}

.img-box img {
    width: 120px;
    max-width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.text span {
    border: 1px solid red;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.text h4 {
    margin-top: 10px;
    font-size: 14px;
}

/* MODAL */
#videoModal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    position: relative;
    width: 80%;
    max-width: 800px;
}

.modal-content iframe {
    width: 100%;
    height: 450px;
}

.modal-content span {
    position: absolute;
    top: -40px;
    right: 0;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}




/* =========================
   News Section
========================= */

.section-label {
    color: var(--button-color);
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    color: var(--text-primary);
    margin-top: 10px;
}


.news-card h5,
.news-card h6 {
    font-weight: 600;
    color: var(--text-color);
}

.news-card p {
    font-size: 14px;
    color: var(--para-text);
}

.news-card small {
    color: var(--sub-text);
    font-size: 12px;
}

.col-lg-3.right .mb-4,
.col-lg-3.left .news-list-item,
.news-card-video {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(107, 114, 128, 0.25);
}

.news-card-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-list-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e7eb;
}

.news-list-item h6 {
    font-weight: 600;
    color: var(--text-color);
}

.news-list-item p {
    font-size: 14px;
    color: var(--para-text);
    margin: 8px 0;
}

.news-list-item small {
    font-size: 12px;
    color: var(--sub-text);
}



@media (max-width:1200px) {
    .Services-box-item.col-5 {
        width: calc(40% - .775rem);
    }

    .Services-box-item.col-7 {
        width: calc(60% - .775rem);
    }
}


@media (max-width:992px) {

    .col-lg-3.right .news-card {
        width: 50%;
        margin: 0 !important;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(107, 114, 128, 0.25);
    }

    .col-lg-3.right {
        width: 100%;
        gap: 20px;
        display: flex;
    }

    .col-lg-3.left {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .col-lg-3.left .news-list-item {
        width: calc(50% - 10px);
        padding-bottom: 10px;
        margin: 0 !important;
        border-bottom: 1px solid #e5e7eb !important;
    }

    .row.g-3 {
        margin: 0;
        padding: 0;
        gap: 20px;
    }

    .row.g-3 .col-6 {
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e7eb;
        width: calc(50% - 10px);
    }

    .Services-box-item .sub-heading {
        margin: 0;
        margin-bottom: 10px;
    }

    /* Services  */
    .Services-box {
        flex-wrap: wrap;
    }

    .Services-box-item {
        width: calc(100% / 2 - .775rem) !important;
    }
}

@media (max-width:768px) {
    .growth-wrapper {
        flex-direction: column;
    }

    .growth-left,
    .growth-right {
        width: 100%;
    }

    .timeline-banner img {
        object-position: 0 80px;
    }
}

@media (max-width:576px) {
    .hero-wrapper {
        padding: 20px;
    }

    .col-lg-3.left {
        display: none;
    }

    .col-lg-6 .row.g-3 {
        display: none;
    }

    .col-lg-3.right .news-card {
        width: 100%;
    }

    .col-lg-3.right {
        flex-direction: column;
    }

    .news-card-video {
        border: 0;
    }

    .Services-box {
        flex-direction: column;
        height: 100%;
    }

    .Services-box-item {
        width: 100% !important;
    }

    .growth-right {
        padding: 20px;
    }

    .hero-content {
        width: 100% !important;
    }

    .hero .swiper-slide {
        padding: 0;
    }

}


/* ================== TABLET (992px) ================== */
@media (max-width: 992px) {

    .trending h2 {
        font-size: 32px;
    }

    .trending-container {
        flex-direction: column;
    }

    .big-card {
        height: 350px;
    }

    .side-cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        width: calc(50% - 10px);
    }

    .img-box img {
        width: 100px;
        height: 100px;
    }
}


/* ================== MOBILE (768px) ================== */
@media (max-width: 768px) {

    .trending {
        padding: 40px 4%;
    }

    .trending h2 {
        font-size: 26px;
        line-height: 1.3;
    }

    .big-card {
        height: 280px;
    }

    .play-btn {
        width: 55px;
        height: 55px;
        font-size: 18px;
    }

    .content h3 {
        font-size: 18px;
    }

    .content p {
        font-size: 14px;
    }

    .side-cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .img-box img {
        width: 90px;
        height: 90px;
    }

    .text h4 {
        font-size: 14px;
    }
}


/* ================== SMALL MOBILE (480px) ================== */
@media (max-width: 480px) {

    .tag {
        font-size: 12px;
    }

    .trending h2 {
        font-size: 22px;
    }

    .big-card {
        height: 240px;
    }

    .play-btn {
        width: 45px;
        height: 45px;
        font-size: 16px;
    }

    .featured.big {
        font-size: 10px;
        padding: 4px 40px;
        left: -40px;
    }

    .featured.small {
        font-size: 8px;
        padding: 0px 30px;
    }

    .img-box img {
        width: 75px;
        height: 75px;
    }

    .text span {
        font-size: 10px;
    }

    .text h4 {
        font-size: 13px;
    }
}

@media (max-width: 1400px) {
    .hero .swiper-slide {
        align-items: start;
        margin-top: 40px;
    }
}