/* ===================== Design System ===================== */
:root {
    /* Brand Colors */
    --bg1-color: #003160;
    --bg2-color: #000000;
    --bg3-color: #ffffff;
    --button-color: #e9292f;
    --text-color: #111928;
    --sub-text: #5C5C5C;
    --gold-color: #dda83d;
    --text-primary: #1A4174;


    --bg-primary: #FFFFFF;
    --bg-sections: #EAEEF4;


    --para-text: #4B5563;
    --bg-danger: #C81E1E;
    --bg-dark: #010169;
    --strong-black: #141415;
    --bg-light-blue: #0D4ABC;
    --bg-red-dark: #E9292F;



    /* Radius */
    --radius4: 4px;
    --radius8: 8px;
    --radius12: 12px;
    --radius16: 16px;
    --radius24: 24px;
    --radius50: 50px;
    --radius999: 999px;

    /* Spacing */
    --pm4: 4px;
    --pm8: 8px;
    --pm12: 12px;
    --pm16: 16px;
    --pm24: 24px;
    --pm32: 32px;
    --pm48: 48px;
    --pm64: 64px;
}

/* ===================== Reset ===================== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===================== Base ===================== */
body {
    width: 100%;
    font-family: "Barlow Condensed", sans-serif;
    line-height: 1.7;
    color: var(--text-color);
    background: var(--bg3-color);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}



/* ===================== Universal Headings ===================== */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Barlow Condensed", sans-serif;
    color: var(--bg1-color);
    line-height: 1.3;
    margin-bottom: var(--space-sm);
}

h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: clamp(1.5rem, 3vw, 36px);
    font-weight: 600;
}

h3 {
    font-size: clamp(1.2rem, 2.2vw, 24px);
    line-height: 1.3;
    font-weight: 600;
}

h4,
h5,
h6 {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    font-weight: 500;
}

/* ===================== Text ===================== */
p,
span {
    font-size: 14px;
    line-height: 1.8;
    color: var(--sub-text);
    margin-bottom: var(--pm8);
}

/* ===================== Links ===================== */
a {
    text-decoration: none;
    color: var(--bg1-color);
    transition: 0.3s ease;
}

a:hover {
    color: var(--gold-color);
}


button {
    font-size: 14px;
}

button:hover {
    background: var(--bg1-color);
}



/* ===================== Images ===================== */
img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

/* ============ Tittle Colour
============================= */

.titte-colour {
    background: radial-gradient(71.7% 135.42% at 49.77% 79.17%, #0059CF 0%, #111928 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* ==============================
   Universal Button System
   ============================== */
/* ===================== Buttons ===================== */

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition:
        background-color 0.25s ease,
        color 0.25s ease,
        border-color 0.25s ease,
        transform 0.2s ease,
        box-shadow 0.25s ease;
}

.button-colour {
    background:
        linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
        linear-gradient(25.61deg, rgba(233, 41, 47, 0) 29.07%, rgba(233, 41, 47, 0.1) 94.36%),
        linear-gradient(59.96deg, rgba(233, 41, 47, 0.2) 10.06%, rgba(233, 41, 47, 0) 50.1%);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    border-color: transparent;

    box-shadow:
        0px 4px 8px rgba(92, 92, 92, 0.15),
        0px 2px 4px rgba(17, 25, 40, 0.10);
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    transition: 0.3s ease;
    text-decoration: none;
    color: var(--bg-danger);
    /* display: flex; */
    gap: 10px;
    justify-content: center;
}

.button-colour:hover {
    background:
        linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
        linear-gradient(25.61deg, rgba(233, 41, 47, 0) 29.07%, rgba(233, 41, 47, 0.1) 94.36%),
        linear-gradient(59.96deg, rgba(233, 41, 47, 0.2) 10.06%, rgba(233, 41, 47, 0) 50.1%);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    border-color: transparent;

    box-shadow:
        0px 4px 8px rgba(92, 92, 92, 0.15),
        0px 2px 4px rgba(17, 25, 40, 0.10);
    color: var(--bg-danger);
}

a {
    text-decoration: none;
}

.btn-primary a {
    color: var(--bg-danger);
    gap: 10px;
    display: flex;
    align-items: center;
}

.btn-outline:hover a {
    color: var(--bg-primary);
}

.btn-outline a {
    color: var(--bg-danger);
    gap: 10px;
    display: flex;
    align-items: center;
}

button.btn-primary a svg {

    stroke: var(--bg-danger);
}

button.btn-primary:hover a svg {
    stroke: var(--bg-danger);
}

button.btn-primary svg {

    stroke: var(--bg-danger);
}

button.btn-primary:hover svg {
    stroke: var(--bg-danger);
}

/* sub heading */

.section-label {
    color: var(--button-color);
    letter-spacing: 2px;
    font-weight: 600;
    font-size: clamp(12px, 1.2vw, 14px);
    text-transform: uppercase;
}

.sub-heading-outline {
    display: inline-block;
    border: 1px solid var(--bg-primary);
    padding: 6px 16px;
    border-radius: var(--radius999);
    font-weight: 500;
    margin-bottom: var(--pm16);
    color: var(--bg-primary);
    width: fit-content;
}

/* ===================== Skip Link ===================== */
.skip-link {
    position: absolute;
    top: -50px;
    left: 20px;
    background: var(--bg1-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: var(--radius-sm);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    z-index: 9999;
    transition: top 0.3s ease;
}

/* Show when focused (Tab press) */
.skip-link:focus {
    top: 20px;
    outline: 3px solid var(--gold-color);
}

/* Arrows */
.icon-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: var(--bg-primary);
    border: none;
    color: var(--text-primary);
    font-size: 20px;
    cursor: pointer;
    transition:
        background-color 0.25s ease,
        color 0.25s ease,
        transform 0.2s ease;
    z-index: 2;
}

.icon-arrow:hover {
    color: var(--bg-primary);
    background-color: var(--bg-dark);
}



/* ===================== Header / Navigation ===================== */
header {
    position: absolute;
    inset: 0 0 auto;
    z-index: 999;
    background: transparent;
}


.navbar {
    padding: 22px 24px;
}

.main-navigation {
    display: block;
    width: 100%;
}

.main-navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}


.main-navigation li {
    position: relative;
}

.search-icon-wrap-mb {
    display: none;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

.main-navigation .custom-logo-link img {
    width: 85px;
}


.menu-main-container ul {
    display: flex;
    gap: 30px;
}

.menu-main-container li {
    list-style: none;
    text-transform: uppercase;
}

.menu-main-container li a {
    padding: 0;
    color: var(--bg1-color);
    border: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.34px;
}

.mob-menu-text {
    display: none;
}

.arrow-down a::after {
    content: "\203A";
    display: inline-block;
    margin-left: 10px;
    border: none;
    font-size: 24px;
    vertical-align: middle;
    transform: rotate(90deg);
}

.arrow-down .sub-menu li a::after {
    display: none;
}

/* Curve css for menu header  */

.main-navigation .container {
    max-width: 1400px;
    width: 100%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.7);
    /* #FFFFFFB2 */
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    border: 1px solid rgba(17, 25, 40, 0.1);
    /* #1119281A */

    box-shadow:
        0px 2px 4px rgba(17, 25, 40, 0.1),
        0px 4px 12px rgba(92, 92, 92, 0.12);

    border-radius: 18px;
}

.main-navigation ul ul {
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
    float: left;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
    left: auto;
}

.main-navigation ul ul.sub-menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 0;
    padding: 6px 6px 10px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(17, 25, 40, 0.1);
    box-shadow: 0px 2px 4px rgba(17, 25, 40, 0.1), 0px 4px 12px rgba(92, 92, 92, 0.12);
}

.menu-main-container ul.sub-menu {
    gap: 0;
}

.sub-menu li {
    margin-left: 0;
    position: relative;
    overflow: hidden;
}

.sub-menu li::before {
    content: "";
    position: absolute;
    top: 0;
    left: var(--shine-x, -100%);
    width: 10px;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.4),
            transparent);
    transform: skewX(-25deg);
    pointer-events: none;
    transition: left 0.1s linear;
}

.main-navigation ul ul.sub-menu a {
    width: 100%;
    margin-bottom: 0;
    padding: 10px;
    color: #333;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}


.main-navigation ul ul.sub-menu a:hover {
    color: #fff;
    background: var(--bg1-color);

}

.sub-menu::before {
    content: "";
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    transform: rotate(45deg);
}

.menu-toggle {
    display: none;
}


/* New updated hover css  */

/* UNDERLINE */
.menu-main-container li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--bg-danger);
    border-radius: 50px;
    transition: width 0.35s ease;
}

/* HOVER EFFECT */
.menu-main-container li:hover>a {
    color: var(--bg1-color);
}

.menu-main-container li:hover>a::after {
    width: 100%;
}

/* ACTIVE MENU */
.menu-main-container li.current-menu-item>a,
.menu-main-container li.active>a {
    color: var(--bg1-color);
}

/* ACTIVE UNDERLINE */
.menu-main-container li.current-menu-item>a::after,
.menu-main-container li.active>a::after {
    width: 100%;
}

/* ASK AI button */

/* .search-icon-wrap {
    padding: 3px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.14);
} */

header #btn-search {
    width: 140px;
    height: 40px;
    border: 0;
    /* border-radius: 50px; */

    border: 1px solid rgba(140, 148, 171, 0.25);
    border-radius: 12px;

    background:
        linear-gradient(0deg,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)),
        linear-gradient(25.61deg,
            rgba(0, 89, 207, 0) 29.07%,
            rgba(0, 89, 207, 0.1) 94.36%),
        linear-gradient(59.96deg,
            rgba(0, 89, 207, 0.2) 10.06%,
            rgba(0, 89, 207, 0) 50.1%);

    box-shadow:
        0 8px 20px rgba(0, 89, 207, 0.12),
        inset 0 1px 2px rgba(255, 255, 255, 0.65);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.search-btn span {
    background: linear-gradient(135deg,
            #0059CF 0%,
            #111928 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
    margin: 0 !important;
    font-size: 16px;
}

.search-icon-wrap .cta-search-glow::before {
    border-radius: 50px;
}

.cta-search-glow img {
    width: 15px;
}


.cta-btn-noanimate .cta-arrow {
    transform: rotate(0deg) scale(1.1);
    transition: all 0.5s ease;
}

.ai-search-btns .cta-btn .bi-paperclip {
    transform: rotate(-45deg) scale(1);
    transition: all 0.5s ease;
}

.cta-btn-noanimate:hover .cta-arrow,
.cta-btn-noanimate:focus .cta-arrow {
    animation: none;
    transform: scale(1.2);
}

.cta-btn-noanimate:hover .cta-arrow.bi-paperclip,
.cta-btn-noanimate:focus .cta-arrow.bi-paperclip {
    animation: none;
    transform: rotate(-45deg) scale(1.2);
}



.cta-search-glow img {
    width: 15px;
}

.cta-btn.cta-search-glow {
    gap: 7px;
}

/* .search-icon-wrap {
    padding: 3px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.14);
} */

.cta-search-glow {
    position: relative;
    transition: all 0.3s ease;
}

.cta-search-glow::after,
.cta-search-glow::before {
    width: 100%;
    height: 105%;
    position: absolute;
    border-radius: 8px;
    content: "";
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 1px;
    z-index: -1;
    background-image: conic-gradient(from var(--angle),
            transparent 15%,
            rgba(10, 224, 237, 1),
            transparent 85%);
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.search-icon-wrap .cta-search-glow::after,
.search-icon-wrap .cta-search-glow::before {
    border-radius: 50px;
}

.cta-search-glow::before {
    filter: blur(0.3rem);
    opacity: 0;
}

header #btn-search:hover,
header #btn-search:focus,
.cta-search-glow:hover,
.cta-search-glow:focus {
    box-shadow: none !important;
}

.cta-search-glow:hover::after,
.cta-search-glow:hover::before,
.cta-search-glow:focus::after,
.cta-search-glow:focus::before {
    opacity: 1;
    /* animation: spin-shadow 0.7s ease infinite forwards; */
}

@keyframes spin-shadow {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}




/* ASK AI BUTTON */
.ask-ai-btn {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 12px 26px;

    border-radius: 60px;

    background: linear-gradient(180deg, #222 0%, #000 100%);

    color: #fff;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    border: 2px solid rgba(255, 255, 255, 0.15);

    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.15),
        0 5px 15px rgba(0, 0, 0, 0.2);

    transition: 0.3s ease;
}

.ask-ai-btn:hover {
    transform: translateY(-2px);
}

.ask-ai-btn svg {
    color: #fff;
}

/* REMOVE OLD STYLES */
.mob-menu-text {
    display: none;
}

.arrow-down a::after {
    display: none;
}

.main-navigation ul ul {
    display: none;
}



/* ==============================
   Footer
   ============================== */

.footer-section {
    background: var(--bg-primary);
    padding: 50px 0;
    border-top: 1px solid #e5e7eb;
    font-family: "Barlow Condensed", sans-serif;
    border-radius: 50px 50px 0 0;
    box-shadow: 0px 0px 40px -15px rgba(0, 76, 176, 0.5);
}

/* Grid */
.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.2fr;
    gap: 40px;
    align-items: start;
}

/* Brand */
.footer-logo {
    /* max-width: 160px; */
    max-width: 102px;
    /* margin: auto; */
    margin-bottom: 12px;
}

.footer-tagline {
    font-size: 14px;
    color: var(--strong-black);
    max-width: 260px;
    line-height: 1.6;
}

/* Titles */
.footer-title {
    font-size: 18px;
    color: var(--strong-black);
    margin-bottom: 14px;
}

/* Links */
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    font-size: 14px;
    color: var(--strong-black);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--bg-danger);
}

/* Contact */
.footer-contact {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-contact li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    font-size: 18px;
}

.footer-contact i {
    color: var(--strong-black);
    font-size: 18px;
}

.footer-contact a {
    color: var(--strong-black);
    text-decoration: none;
    font-size: 14px;
}

.footer-contact a:hover {
    color: var(--bg-danger);
}

.mobile-get-in-touch {
    display: none;
}

.consumer-rights {
    display: none;
}

/* Responsive */
@media (min-width: 1400px) {
    .menu-main-container {
        padding-inline: 40px;
    }
}

@media (max-width: 992px) {
    .navbar {
        padding: 20px 22px 20px 16px;
    }

    .menu-toggle {
        display: block;
    }

    .navbar-toggler:focus,
    .navbar-toggler:hover {
        background: none;
        outline: 0;
        text-decoration: none;
    }

    .navbar-toggler span {
        position: relative;
        z-index: 99;
        display: block;
        width: 30px;
        height: 2px;
        margin: 6px auto;
        background: #fff;
        transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .navbar-toggler span:nth-of-type(2) {
        width: 22px;
        margin-right: 0;
    }

    .navbar-toggler[aria-expanded="true"] span:first-of-type {
        transform: rotate(45deg) translate(6px, 6px);
    }

    .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
        opacity: 0;
    }

    .navbar-toggler[aria-expanded="true"] span:last-of-type {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .navbar-toggler[aria-expanded="false"] span {
        opacity: 1;
        transform: none;
    }

    .main-navigation .custom-logo-link {
        padding: 8px 20px !important;
    }

    .main-navigation .custom-logo-link img {
        width: 70px !important;
    }

    .main-navigation .menu-toggle {
        position: absolute;
        top: 32px !important;
        right: 18px;
        z-index: 99;
        padding: 5px;
        background: #ffffff40;
        border-radius: 0 !important;
    }

    /* .main-navigation ul {
        display: none;
    }
    .main-navigation ul { */

    .main-navigation ul {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .menu-main-container {
        width: 100%;
        flex: 100%;
        margin-top: 20px;
        padding: 0;
        overflow: hidden;
    }

    .search-icon-wrap-pc {
        display: none;
    }

    .search-icon-wrap-mb {
        display: flex;
    }

    .menu-main-container li a {
        text-align: center;
    }

    .main-navigation .container {
        flex-wrap: wrap;
    }

    .main-navigation.toggled ul,
    .main-navigation.toggled .menu-main-container {
        display: block;
    }

    .main-navigation.toggled .menu-main-container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 60%;
        height: auto;
        background: #013974 0% 0% no-repeat padding-box;
        box-shadow: 0 0.5rem 11rem 19em #0000009c;
        opacity: 1;
        transition: right 0.35s ease;
    }

    .menu-main-container li:first-child {
        margin-top: 100px;
    }

    .main-navigation .menu-main-container li {
        position: relative;
        margin: 0;
        margin-bottom: 20px;
        border-bottom: none;
    }

    .main-navigation .menu-main-container li:last-child {
        margin-bottom: 0;
    }

    .mob-menu-text,
    .main-navigation ul li.mob-menu-text {
        display: block;
    }

    .main-navigation ul li.mob-menu-text {
        padding: 46px 0 38px 25px !important;
        border-bottom: 1px solid #fff6;
    }

    .sub-heading {
        margin: auto;
    }

    .footer-grid {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .navbar-collapse {
        margin-block: 20px;
    }

    .navbar .dropdown:hover .dropdown-menu {
        display: block;
    }

    .navbar .dropdown-menu {
        transition: all 0.3s ease;
        margin-top: 10px;
    }

    .nav-menu .arrow-down:hover>ul {
        height: 200px;
        left: -70% !important;
    }

    .main-navigation ul ul.sub-menu a {
        text-align: start;
    }

    .main-navigation ul ul.sub-menu a:hover {
        color: var(--bg1-color);
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 20px 22px 20px 16px;
    }

    .menu-toggle {
        display: block;
    }

    .navbar-toggler:focus,
    .navbar-toggler:hover {
        background: none;
        outline: 0;
        text-decoration: none;
    }

    .navbar-toggler span {
        position: relative;
        z-index: 99;
        display: block;
        width: 30px;
        height: 2px;
        margin: 6px auto;
        background: #fff;
        transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .navbar-toggler span:nth-of-type(2) {
        width: 22px;
        margin-right: 0;
    }

    .navbar-toggler[aria-expanded="true"] span:first-of-type {
        transform: rotate(45deg) translate(6px, 6px);
    }

    .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
        opacity: 0;
    }

    .navbar-toggler[aria-expanded="true"] span:last-of-type {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .navbar-toggler[aria-expanded="false"] span {
        opacity: 1;
        transform: none;
    }

    .main-navigation .custom-logo-link {
        padding: 8px 20px !important;
    }

    .main-navigation .custom-logo-link img {
        width: 70px !important;
    }

    .main-navigation .menu-toggle {
        position: absolute;
        top: 32px !important;
        right: 18px;
        z-index: 99;
        padding: 5px;
        background: #ffffff40;
        border-radius: 0 !important;
    }

    /* .main-navigation ul {
        display: none;
    }
    .main-navigation ul { */

    .main-navigation ul {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .menu-main-container {
        width: 100%;
        flex: 100%;
        margin-top: 20px;
        padding: 0;
        overflow: hidden;
    }

    .search-icon-wrap-pc {
        display: none;
    }

    .search-icon-wrap-mb {
        display: flex;
    }

    .menu-main-container li a {
        text-align: center;
    }

    .main-navigation .container {
        flex-wrap: wrap;
    }

    .main-navigation.toggled ul,
    .main-navigation.toggled .menu-main-container {
        display: block;
    }

    .main-navigation.toggled .menu-main-container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 60%;
        height: auto;
        background: #013974 0% 0% no-repeat padding-box;
        box-shadow: 0 0.5rem 11rem 19em #0000009c;
        opacity: 1;
        transition: right 0.35s ease;
    }

    .menu-main-container li:first-child {
        margin-top: 100px;
    }

    .main-navigation .menu-main-container li {
        position: relative;
        margin: 0;
        margin-bottom: 20px;
        border-bottom: none;
    }

    .main-navigation .menu-main-container li:last-child {
        margin-bottom: 0;
    }

    .mob-menu-text,
    .main-navigation ul li.mob-menu-text {
        display: block;
    }

    .main-navigation ul li.mob-menu-text {
        padding: 46px 0 38px 25px !important;
        border-bottom: 1px solid #fff6;
    }


    .main-navigation ul ul.sub-menu {
        display: flex;
        flex-direction: column;
        width: 230px !important;
        margin-top: 4px;
        padding: 6px 6px 0 !important;
        background: #fff;
    }

    .main-navigation .menu-main-container .sub-menu li {
        margin: 0;
        padding: 1px 0 1px 0 !important;
        border-bottom: none;
    }

    .main-navigation ul ul.sub-menu a:hover {
        background: none;
    }

    .sub-menu::before {
        content: none;
    }

    .main-navigation ul li>ul {
        height: 0;
        overflow: hidden;
        transition: height 0.4s linear;
    }

    .main-navigation ul li.focus>ul {
        height: 200px;
        max-height: 200px;
        transition: height 0.4s linear;
        transition-delay: 0.4s;
    }


    .navbar-brand {
        width: 15%;
    }
}


@media (max-width: 576px) {


    .container {
        padding: 0;
    }

    /* .snap-section {
        min-height: 100% !important;
    } */

    .footer-logo {
        max-width: 120px;
        margin-top: 50px;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-brand,
    .footer-col {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .footer-contact li {
        justify-content: center;
    }

    .footer-tagline {
        display: none;
    }

    /* optional: hide existing footer contact column */
    .footer-grid .footer-col:last-child {
        display: none;
    }

    .mobile-get-in-touch {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 14px;
    }

    .image1 .overlay-image-pc {
        display: none;
    }

    .icon-circle {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-get-in-touch .First {
        margin-bottom: 0px;
    }

    .mobile-get-in-touch .address {
        color: #141415;
        font-size: 16px;
        max-width: 320px;
    }

    .mobile-get-in-touch .divider {
        width: 50px;
        height: 2px;
        background: var(--bg-dark);
        display: block;
    }


    .mobile-get-in-touch .contact-row svg {
        width: 30px;
        height: 24px;
    }

    .mobile-get-in-touch h3 {
        font-size: calc(1.325rem + .9vw);
        font-weight: 500;
    }

    .mobile-get-in-touch .contact-row {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }

    .mobile-get-in-touch .contact-row a {
        text-decoration: none;
        color: #141415
    }

    .footer-col-quicks {
        display: none;
    }

    .footer-col-services {
        display: none;
    }

    .consumer-rights p {
        font-size: 18px;
        color: #141415;

        padding: 50px 10px 0 10px;
    }

    .consumer-rights {
        display: contents;
    }

    .footer-section {
        padding: 0;
    }

}